 <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><center><img src="/static/images/dvgql_logo.png" width="230px" /></center></div>
    <div class="list-group list-group-flush">
    <a href="/" class="list-group-item list-group-item-action bg-light"><i class="fa fa-home"></i> Home</a>
      <a href="/my_pastes" class="list-group-item list-group-item-action bg-light"><i class="fa fa-clipboard"></i> Private Pastes</a>
      <a href="/public_pastes" class="list-group-item list-group-item-action bg-light"><i class="fa fa-users"></i> Public Pastes</a>
      <a href="/create_paste" class="list-group-item list-group-item-action bg-light"><i class="fa fa-plus"></i> Create Paste</a>
      <a href="/import_paste" class="list-group-item list-group-item-action bg-light"><i class="fa fa-download"></i> Import Paste</a>
      <a href="/upload_paste" class="list-group-item list-group-item-action bg-light"><i class="fa fa-upload"></i> Upload Paste</a>
    </div>
    <hr>
    <center><span><a href="https://github.com/dolevf/Damn-Vulnerable-GraphQL-Application" class="withlove" target="_blank"><i class="fa fa-star"></i> Star us on GitHub</a></span></center>
</div>
