{% extends 'partials/base.html' %}

{% block header %}
  {% include 'partials/base_header.html' %}
{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div id="page-content-wrapper">
    {% include 'partials/navbar.html' %}
    <div class="container-fluid">
      <h1 class="mt-4">About</h1>
      <hr>
        <div class="row">
        <div class="col-md-12">
        <h4>What is GraphQL?</h4>
          <p>GraphQL is an open-source data query and manipulation language for APIs, and a runtime for fulfilling queries with existing data, made by Facebook.</p>
          <br>
        <h4>What is Damn Vulnerable GraphQL Application?</h4>
          <p>Damn Vulnerable GraphQL is a weak implementation of GraphQL that provides a safe environment to understand GraphQL as a technology and its attack surface.</p>
          <p>DVGA has numerous flaws, such as Injections, Code execution, Broken Access Controls, and more. For the full list of vulnerabilities, see <a href="/solutions">Solutions page</a></p>
          <br>
        <h4>Current Version</h4>
          <p>{{version}}</p>
        </div>
        </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
{% endblock %}

{% block scripts %}
  {% include 'partials/base_scripts.html' %}
{% endblock %}
