{% extends 'partials/base.html' %}

{% block header %}
    {% include 'partials/base_header.html' %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div id="page-content-wrapper">
    {% include 'partials/navbar.html' %}
    <div class="container-fluid">
        <div id="result"></div>
        {% if page == "create_paste" %}
        {% include 'partials/pastes/create_paste.html' %}
        {% elif page == "import_paste" %}
        {% include 'partials/pastes/import_paste.html' %}
        {% elif page == "upload_paste" %}
        {% include 'partials/pastes/upload_paste.html' %}
        {% elif page == "my_pastes" %}
        {% include 'partials/pastes/my_pastes.html' %}
        {% elif page == "public_pastes" %}
        {% include 'partials/pastes/public_pastes.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% include 'partials/base_scripts.html' %}
    <script type="text/javascript" src="/static/dvga/pastes.js"></script>
{% endblock %}
