{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Injection :: HTML Injection{% endblock %}

{% block body %}
  <p>
    Similarly to the Cross Site Scripting problem, a paste can also include HTML tags that would render in the application, resulting in an HTML injection.
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://www.acunetix.com/blog/web-security-zone/html-injections/" target="_blank">
      <i class="fa fa-newspaper"></i> Acunetix - HTML Injection
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Create New Paste allows inserting HTML tags
    mutation {
      createPaste(title:"&lt;h1&gt;hello!&lt;/h1&gt;", content:"zzzz", public:true) {
        pasteId
      }
    }

    # Content of HTML_Injection.html 
    # &lt;h1&gt; Hello &lt;/h1&gt;!
    mutation {
      importPaste(host:"localhost", port:80, path:"/HTML_Injection.html"")
    }
  </pre>
{% endblock %}
<!-- End -->
