{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Injection :: Stored Cross Site Scripting{% endblock %}

{% block body %}
  <p>
    The GraphQL mutations <code>createPaste</code> and <code>importPaste</code> allow creating and importing new pastes. The pastes may include any character without any restrictions. The pastes would then render in
    the Public and Private paste pages, which would result in a Cross Site Scripting vulnerability (XSS).
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://portswigger.net/web-security/cross-site-scripting/stored" target="_blank">
      <i class="fa fa-newspaper"></i> PortSwigger - Stored Cross Site Scripting
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Create New Paste allows special characters that would render in HTML.
    mutation {
      createPaste(title:"&lt;script&gt;alert(1)&lt;/script&gt;", content:"zzzz", public:true) {
        pasteId
      }
    }

    # Alternatively, importing a paste that includes Javascript will also result in the same behaviour.
    mutation {
      importPaste(host:"localhost", port:80, path:"/xss.html"")
    }
  </pre>
{% endblock %}
<!-- End -->
